@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

i{
  transition: .3s ease;
}

#home {
  height: 100vh;
  width: 100%;
  background: url('../images/bg.png') no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #fff;
  background-position: center;
}

header {
  width: 100%;
  height: 8%;
  display: flex;
  font-size: 1.3rem;
  margin-top: 10px;
  margin-left: 10px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header h2 {
  letter-spacing: 0.5px;
  font-size: 1.9rem;
}

header h2:hover {
  color: #dddddd;
  cursor: pointer;
}

header nav ul {
  display: flex;
}

header ul li {
  list-style: none;
  margin: 15px;
  text-transform: uppercase;
}

header ul li a {
  text-decoration: none;
  color: #f4f9f4;
  margin-top: 15px;
}


header ul li a:hover {
  color: #000;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

main p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 1rem;
}

main h2 {
  font-size: 3.5rem;
}

main a {
  display: inline-block;
  font-size: 1rem;
  background: #fff;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  margin-top: 10px;
  letter-spacing: 2px;
  transition: 0.2s;
}

main a:hover {
  letter-spacing: 4px;
}

/* About */

#about {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #000;
  background-position: center;
}

.about {
  text-align: center;
  margin-top: 20px;
}

.about h2 {
  font-size: 2rem;
}

/* Contact */

#contact {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #000;
  background-position: center;
}

.contact {
  text-align: center;
  margin-top: 90px;
}

.contact h2 {
  font-size: 2rem;
}

.contact input {
  padding-left: 100px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1000px) {

  header {
    width: 90%;
  }

  header nav {
    display: none;
    width: 100%;
  }

  header nav.show {
    display: flex;
  }

  header .hamburger {
    display: block;
  }

  header .show ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
  }

  header ul li{
    margin: 0;
  }

  .toggled h2{
    display: none;
  }

  .toggleIsOn .ion-navicon-round{
    opacity: 0;
    visibility: hidden;
  }

  .toggleIsOn .ion-close-round{
    display: initial;
  }

  .ion-close-round {
    position: absolute;
    top: 15px;
    right: 0;
    display: none;
  }
}
